html {
  background-color: #ccebff;
}

body {
    font-family: monospace;
    font-size: 10pt;
    background-color: white;
    margin: 5% 5%;
    padding: 0% 2% 2% 2%;
    border-style: dashed;
    border-color: #80ccff;
}

button {
  text-align: bottom;
  margin: -1pt;
  cursor: pointer;
}

ul {
  list-style-type: circle;
  margin: 0% 1%;
  padding: 0% 0% 0% 5%;
}

.pianokey {
  border: 5%;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  background-color: white;
  color: black;
  margin-top: 2%;
  height: 200px;
  width: 50px;
}

.keymap {
  border: 2%;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  background-color: black;
  color: white;
  margin-top: 2%;
  height: 50px;
  width: 50px;
}

.pianokey:hover, .pianokey:active, .pianokey:focus,
.keymap:hover, .keymap:active, .keymap:focus {
  background-color: #99d6ff;
}

.pianokey:blur {
  background-color: white;
}

.keymap:blur {
  background-color: black;
}

.nav {
  color: black;
  border-style: dashed;
  border-color: #99d6ff;
  border: 2%;
  background-color: white;
  padding: 2% 5%;
  margin: 1% 6%;
}

.link {
  margin: 2% 5%;
  padding: 1% 2%;
  text-decoration: none;
}

.login {
  margin: 1% 0%;
  padding: 1% 0%;
  border-color: white;
  background-color: white;
  color: black;
  text-decoration: none;
}

.link:hover, .login:hover {
  text-decoration: underline;
}

a:visited, a:link {
  color: black;
}

/*.blackkey {
  width: 45px;
  height: 145px;
  background-color: black;
  border-radius: 5%;
  float: left;
}*/

#howto {
  margin: 0% 15%;
}

h2 {
  margin: 2% 20%;
  padding: 2% 2%;
  font-size: 13pt;
}

#main {
  margin: 2% 10%;
  padding: 0% 0% 1% 0%;
  background-color: white;
}

#rec, #stoprec {
  border: 2%;
  border-radius: 5%;
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  margin-top: 2%;
  height: 50px;
  width: 200px;
}

#space {
  border: 2%;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  background-color: black;
  color: white;
  margin-top: 1%;
  height: 50px;
  width: 200px;
}
