html {
  background-color: #ccebff;
}

body {
    font-family: monospace;
    font-stretch: extra-condensed;
    font-size: 10pt;
    /*margin: 20% 25%;*/
    margin: 10% 25%;
    padding: 1% 3% 3% 3%;
    border: 10%;
    border-style: dashed;
    border-color: #99d6ff;
    background-color: white;
}

h2 {
  font-size: 15pt;
  text-decoration: none;
  padding: 3% 2%;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: #99d6ff;
}

input[type="text"] {
  margin: 2% 0%;
  width: 100%;
}

input[type="password"] {
  margin: 2% 0%;
  width: 100%;
}

input[type="submit"] {
  font-family: courier;
  font-stretch: extra-condensed;
  font-size: 9pt;
  background-color: #99d6ff;
  border-style: solid;
  border-color: #99d6ff;
  border-radius: 2%;
  padding: 1% 3%;
}

input[type="submit"]:hover {
  border-color: #ccebff;
  background-color: #ccebff;
}
